*
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: lighter;

}

body{

padding-right: 50px gray;
padding-right: 65px white;
box-shadow: 2px black;
width: 750px;
height: 1250px;
border-bottom: 10px;
border-top: 10px;

}


header {

width: 750px;
height: 100px;
border-top: 15px;
border-left: 15px;
border-bottom: 15px;
border-right: 15px;
background-color: coral;
font-family: 'Times New Roman', Times, serif black;

}